@model leave_mangment.Models.ViewAllocationVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EmployeeVM</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.firstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.firstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.lastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.lastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.taxId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.taxId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.dateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.dateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.dateJoin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.dateJoin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.dateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.dateCreated)
        </dd>
    </dl>
</div>

<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        @foreach (var item in Model.LeaveAllocations)
        {
            <li class="list-group-item">
                <h6>
                    @item.LeaveType.Name <span class="badge badge-secondary ">@item.NumberOfDays</span> | <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.id">Edit</a>
                </h6>
            </li>
        }
    </ul>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-dark btn-block">Back to List</a>
</div>
