@model AdminLeaveRequestViewVM

@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-aqua badge badge-info"> <i class="nav-icon fas fa-tachometer-alt"></i></span>

            <div class="info-box-content">
                <span class="info-box-text h3">@Model.TotaleRequests</span>
                <span class="info-box-number">@Html.DisplayNameFor(Model => Model.TotaleRequests)</span>
            </div>
            <!-- /.info-box-content -->
        </div>
    </div>
    <div class="col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-aqua badge-warning"><i class="fa fa-exclamation-circle"></i></span>

            <div class="info-box-content">
                <span class="info-box-text h3">
                            @Model.PendingRequests 
                </span>
                <span class="info-box-number">@Html.DisplayNameFor(Model => Model.PendingRequests)</span>
            </div>
            <!-- /.info-box-content -->
        </div>
    </div>
    <div class="col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-aqua badge-success"><i class="fa fa-check-circle"></i></span>

            <div class="info-box-content">
                <span class="info-box-text h3">@Model.ApprovedRequests</span>
                <span class="info-box-number">@Html.DisplayNameFor(Model => Model.ApprovedRequests)</span>
            </div>
            <!-- /.info-box-content -->
        </div>
    </div>
    <div class="col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-aqua badge-danger"><i class="far fa-times-circle"></i></span>

            <div class="info-box-content">
                <span class="info-box-text h3">@Model.RejectedRequests</span>
                <span class="info-box-number">@Html.DisplayNameFor(Model => Model.RejectedRequests)</span>
            </div>
            <!-- /.info-box-content -->
        </div>
    </div>
</div>

<br />
<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                Emplyee Name
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Leave Type
            </th>
            <th>
                Requested Date
            </th>
            <th>
                Approval status
            </th>
            <th>
                Review Request
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LeaveRequests) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestingEmplyee.firstName)    @Html.DisplayFor(modelItem => item.RequestingEmplyee.lastName)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestedDate)
            </td>
            <td>
                @if (item.Approved == true)
                {
                    <i class="badge badge-success">Approved</i>
                }
                else if (item.Approved == false)
                {
                    <i class="badge badge-danger">Rejected</i>
                }else if (item.Cancelled && item.Approved == null)
                {
                <i class="badge badge-secondary">Cancelled</i>
                }
                else
                {
                <i class="badge badge-warning">Pending</i>
                }
            </td>
            <td>
                @if (!item.Cancelled)
                {
                    <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-file"></i> Review</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
